* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --iris: #4D5AE5;
  --ocean: #404BBF;
  --navy-blue: #2E2F42;
  --green: #31D0AA;
  --slate: #434455;
  --light-slate: #8E8F99;
  --cornflower: #E7E9FC;
  --cloud: #F4F4FD;
  --navy-blue-modal: rgba(46, 47, 66, 0.40);
  --grey :#2E2F42;
  --white :#FFFFFF;
  --dairy :#FCFCFC;
  --transition-duration: 250ms;
  }

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgba(255,255,255,1);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

figure{
  margin: 0px;
}

img{
  display: block;
  width: 100%;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: unset;
  outline: none;
}

address{
  font-size: normal;
}

input {
  font-family: inherit;
}

.container{
  width: 1158px;
  margin: 0 auto;
}

.main-header-container{
  display: flex;
  justify-content: space-between;
}

.header{
  background-color: var(--white);
  border-bottom: 1px solid var(--cornflower);
  padding: 24px 0;
}

.nav{
  display: inline-flex;
  gap: 76px;
}

.nav-list{
  display: flex;
  gap: 40px; 
}

.nav-list-item{
  position: relative;
}

.nav-list-item-link {
  color: var(--navy-blue);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.50em; /* 150% */
  letter-spacing: 0.32px;
  transition: color var(--transition-duration) 
          cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-item-link::after{
  content: '';
  height: 4px;
  width: 0;
  background-color: var(--ocean);
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -25px;
  transition: width var(--transition-duration) 
              cubic-bezier(0.4, 0, 0.2, 1);
}


.nav-list-item:hover .nav-list-item-link::after{
  width: 100%;
}

.nav-list-item-link:hover::after, .active::after{
  width: 100%;
}

.nav-list-item:hover .address-list-item-link{
  color: var(--ocean);
}

.nav-list-item:hover .nav-list-item-link{
  color: var(--ocean);
}

.nav-list-item-link.active {
  color: var(--ocean);
}

.address-list{
  display: flex;
  gap: 40px;
}

.address-list-item-link {
  color: var(--slate);
  font-size: 16px;
  font-style: normal;
  line-height: 1.5em;
  letter-spacing: 0.32px;
}

/* .nav-list-item-link:hover,
.nav-list-item-link:focus, */
.address-list-item-link:hover,
.address-list-item-link:focus {
  color: var(--ocean);
}

.hero {
  
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/people-office1.jpg");
  padding: 188px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* position: relative; */
  
}

.section-hero-heading-text {
  /* background: var(--navy-blue); */
  color: var(--white);
  font-size: 56px;
  line-height: 1.07143em;
  letter-spacing: 1.12px;
  text-align: center;
  margin-bottom: 48px;
}

.section-hero-button {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;

  padding: 16px 32px;
  gap: 10px;
  border-radius: 4px;
  background: var(--iris);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em; /* 150% */
  letter-spacing: 0.64px;
}

.button-subscriber:hover,
.button-subscriber:focus,
.user-contact-submit:hover,
.user-contact-submit:focus,
.section-hero-button:hover,
.section-hero-button:focus {
  background-color: var(--ocean);
  transition: background-color var(--transition-duration) 
          cubic-bezier(0.4, 0, 0.2, 1);
}

.feature{
  background-color: var(--white);
  color: var(--navy-blue);
  display: flex;
  padding-top: 120px; 
  padding-bottom: 120px;
}
.icon-feature{
  background: var(--cloud);
  border-radius: 4px;
  width: 264px;
  height: 112px;
  padding: 24px 100px;
}

.feature-list-item-heading-text{
  margin-top: 8px;
  margin-bottom: 8px;
}

.feature-list{
  display: flex;
  gap: 24px;
 }

.product{
  background-color: var(--white);
  padding-top: 0;
  padding-bottom: 120px;
}

.section-product-heading-text{
  margin-bottom: 72px; 
}
 
.product-list{
  display: flex;
  gap: 24px;
}

.section-container{
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-team-heading-text{
  margin-bottom: 72px;
  text-align: center;
}

.icon-team-list{
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.team-social-media-icon-link{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color:var(--iris) ;
  fill: var(--white);
  border-radius: 22px;  
  transition: background-color var(--transition-duration) 
          cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-media-icon-link:hover{
  background-color: var(--ocean);
}

.team{
  background-color: var(--cloud);

  padding-top: 120px;
  padding-bottom: 120px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-list-item{
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
  background: var(--white);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 
    0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-list-item-img{
  margin: 0;
}

.team-item-details{
  padding: 32px 16px;
}

.team-list-item-name{
  margin-bottom:8px;
}

.customer {
  padding: 120px 0;

}

.customer-list{
  display: flex;
  justify-content: center;
  gap: 24px;
}

.customer-icon{
  padding: 16px 32px;
  fill: currentColor;
  transition: fill var(--transition-duration) 
          cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-list-item{
  border-radius: 4px;
  border: 1px solid var(--light-slate);
  transition: border-color var(--transition-duration)
              cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-list-item:hover{
  border-color: var(--ocean);
}

.customer-list-item:hover .customer-list-icon-link{
  color: var(--ocean);
}

.customer-list-icon-link{
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid var(--light-slate); */
  color: var(--light-slate);
  border-radius: 4px;
  transition: color var(--transition-duration)
  cubic-bezier(0.4, 0, 0.2, 1);

}

.customer-header-title {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  line-height: 1.11111em;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.section-feature-heading-text,
.section-product-heading-text,
.section-team-heading-text,
.section-portfolio-heading-text,
.section-projects1-heading-text,
.section-projects2-heading-text,
.section-projects3-heading-text{
  color: var(--navy-blue);
  text-align: center;
  font-size: 36px;
  line-height: 1.11111em; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.section-product-heading-text
.section-team-heading-text, 
.team-list-item-name,
.team-list-item-position
 {
    text-align: center;
 }

.feature-list-item-heading-text,
.team-list-item-name,
.project-item-text-project-name {
  color: var(--navy-blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0.4px;
}

.feature-list-item-content,
.team-list-item-position,
.project-item-text-project-type,
.footer-text {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.32px;
}

.portfolio{
  padding-top: 96px;
  padding-bottom: 72px;
}

.portfolio-projects-list{
  display: flex;
  justify-content: center;
  gap: 24px;
}

/* hw5 */
.projects{
  padding-bottom: 120px;
}

.section-projects-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 24px;
  row-gap: 48px;
}

/* hm5 */
.projects-list-item{
  position: relative;
  background: var(--white);
  overflow: hidden;
  display: block;
}

.our-projects-figure{
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em; 
  letter-spacing: 0.32px;
  position: relative;
}
/* hm5 */ 
.projects-list-item figcaption{
  position: absolute;
  /* overflow: hidden; */
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;

  background-color: var(--iris);
  padding: 0px 32px;
  padding-top: 32px;

  color: var(--cloud);
  object-fit: cover;
  object-position: center;

  text-align: left;
  align-items: top;
  
  transition: transform var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%); 
  will-change: transform;
  
}

/* hm5 */ 
.projects-list-item:hover figcaption{
  transform: translateY(0); 
}


.projects-list-item:hover{
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 
              0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
              0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  /* border: 1px solid var(--cloud); */
}

.projects-list-item:hover .project-item-details{
  /* border: unset; */
}

.container-figure-wrapper{
  position: relative;
}

.project-item-text-project-name{
  margin-bottom: 8px;
}

.project-item-details{
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: unset;
  display: block;
}

.portfolio-item-button {
  border-radius: 4px;
  border:1px solid var(--cornflower);
  background: var(--cloud);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  color: var(--ocean);
  padding: 12px 24px;
}

.portfolio-item-button:hover,
.portfolio-item-button:focus {
  color: var(--white);
  background-color: var(--ocean);
  border-color: var(--ocean);
  border-radius: 4px;
  background: var(--ocean);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 
    0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  transition: color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1),
    background-color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1),
    border-color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);

}

.footer {
  background: var(--navy-blue);
  padding-top: 101.5px;
  padding-bottom: 100px;
}

.footer-container{
  display: flex;
}

.footer-social-links{
  margin-left: 120px;
}

.footer-social-media-list{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 8px;
}

.social-media{
  margin-bottom: 16px;
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; 
  letter-spacing: 0.32px;
}

.footer-social-media-icon-link{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color:var(--iris) ;
  fill: var(--white);
  border-radius: 22px;  
}

.footer-social-media-icon-link:hover{
  background-color: var(--green);
  transition: background var(--transition-duration) 
          cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon{
  padding: 4px 4px; 
}

.footer-text {
    text-align: left;
    color: var(--cloud);
    font-size: 16px;
    line-height: 1.5em; /* 150% */
    letter-spacing: 0.32px; 
    margin-top: 17.5px;
}

.span-web{
    color: var(--iris);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.16667em; /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.span-studio{
    color: var(--cloud);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.16667em ; /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px; 
  pointer-events: auto;
  opacity: 1; /* visible */
  /* transition: visibility var(--transition-duration) ; */
  transition-property: visibility, opacity;
  transition-duration: var(--transition-duration);
  transform: none;
  background: var(--navy-blue-modal);

}

.modal.is-hidden{
  visibility: hidden;
  opacity: 0; /* if hidden*/
  pointer-events: none;
}

.modal.is-hidden .modal-content{
  transform: translateY(-20px) cubic-bezier(0.4, 0, 0.2, 1);;
  transform: scale(0.5) cubic-bezier(0.4, 0, 0.2, 1);;
}

.modal-content{
  position: relative;
  width: 408px;
  /* height: 584px; */
  padding: 24px;

  border-radius: 4px;
  background: var(--dairy);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 
              0px 1px 3px 0px rgba(0, 0, 0, 0.12), 
              0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  
  transform: none;
  transition: transform var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  display: block;
  background-color: var(--cornflower);
  width: 24px;
  height: 24px; 
  top: 0px;
  margin-left: auto;
  color: var(--navy-blue);
  border-radius: 50%;
  border: 1px solid rgb(142, 143, 153, 0.5);

  cursor: pointer;
  
  transition: color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1),
  border-color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1),
  fill var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon{
  stroke: rgba(0, 0, 0, 0.10);
  width: 8px;
  height: 8px;

  transform: stroke var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);

  
}

.modal-close:hover,
.modal-close:focus {
  background-color: var(--ocean);
  border-color: var(--ocean);
  color: var(--cloud);
  stroke-width: 1px;
  border-color: transparent;
  fill: var(--white);

  transition: background-color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
  transition: color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1),
  border-color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1),
  fill var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

/* Subscribe Form*/


.footer-subscribe {
  display: inline-block;
  /* flex-direction: row; */
  gap: 16px;
  margin-left: 80px;
}

.subscriber-text {
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.32px;
  color: var(--white);
  margin-bottom: 16px;
}
.subscriber-text
.subscriber-field {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.footer-form-input {
  /* position: relative; */
  display: inline-block;
  padding-left: 16px;
  width: 264px;
  height: 40px;
  color: var(--white);
  border-radius: 4px;
  border: 1px solid var(--white);
  background-color: var(--navyblue);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form-input::placeholder {
  /* position: absolute; */
  /* display: block; */
  top: auto;
  left: 16px;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.48px;
  color: var(--white);
}
.footer-form-input:hover,
.footer-form-input:focus {
  outline: none;
  border-color: var(--iris);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.button-subscriber {

  display: inline-flex;
  justify-content: center;
  align-items: center;


  color: var(--WHITE, #FFF);
  text-align: center;
  gap: 16px;
  padding: 8px 24px;

  width: 165px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  line-height: 1.5em;
  letter-spacing: 0.64px;
  color: var(--white);
  border: unset;
  border-radius: 4px;
  background: var(--iris);
  cursor: pointer;
  margin-left: 24px;
}
.subscriber-icon {
  width: 24px;
  height: 24px;
  transition: color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
.button-subscribe:hover,
.button-subscribe:focus {
  background-color: var(--ocean);
  transition: background-color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
.button-subscribe:active {
  background-color: var(--ocean);
}

/* Modal Form */
.modal-title{
  margin-top: 24px;
  margin-bottom: 34px;
  text-align: center;

  color: var(--navy-blue);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5em; /* 150% */
  letter-spacing: 0.32px;

}

.user-contact {
  margin-top: 12px;
}

.user-contact-field {
  margin-top: 16px;
  display: block;
  position: relative;
  padding-bottom: 8px;
}

.user-contact-label {
  position: absolute; 
  bottom: calc(100% + 4px);
  font-size: 12px;
  color: var(--light-slate);
  font-weight: 400;
  line-height: 14px; 
  /* 116.667% */
  letter-spacing: 0.48px;
}

.user-contact input,
.user-contact textarea
{
  display: block;
  width: 100%;
  margin-top: 4px;
  padding: 11px 12px;
  border-radius: 4px;
  border: 1px solid rgba(33,33,33,0.2);
  /* var(--navy-blue-modal); */
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
  letter-spacing: 0.48px;
  color: var(--navy-blue);
  
}

.user-contact input{
  padding-left: 42px;
}

.user-contact textarea{
  resize: none;
  width: 100%;
  height: 150px;
  padding-left: 16px;
}

.user-contact input:focus,
.user-contact textarea:focus,
.user-contact input:hover,
.user-contact textarea:hover  
{
  border-color: var(--iris);
  outline: 0;
  transition: border-color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);

  /* stroke: var(--white); */

}

/* .user-contact input:focus + svg,
.user-contact input:hover + svg */
.user-contact-input:focus + .user-contact-field-icon, 
.user-contact-input:hover + .user-contact-field-icon
{
  fill: var(--iris);
  stroke: var(--white);
  transition: fill var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

label.user-contact-checkbox{
  display: flex;
  /* padding: 0 12px; */
  color: var(--white);
  margin-top: 16px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.42px;
  stroke-width: 1px;
  stroke: var(--navy-blue-modal);
  padding-bottom: 0;

}

.user-contact-agree-text {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
  letter-spacing: 0.48px;
  color: var(--light-slate);
}

.form-terms{
  color: var(--iris);
  text-decoration: underline;
}

.user-contact-checkbox input{
  width: 16px;
  width: 16px;
  appearance: none;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
}



.user-contact-range input{
  width: 100%;
}


.user-contact-field-icon{
  width: 18px;
  height: 18px;
  position: absolute;
  left: 12px;
  top: 40%;
  transform: translateY(-50%);

}

.user-contact-field-checkmark{
  
  width: 16px;
  height: 15px;
  border: 1px solid var(--navy-blue-modal);;
  stroke-width: 1px;

  background-color: var(--white);
  stroke: var(--white);
  fill: var(--white);
  border-radius: 2px;
  margin-right: 8px;

}

.user-contact-checkbox input:checked + svg {
  border: 0;
  background-color: var(--ocean);
  border-color: var(--ocean);

  fill: var(--white);
  stroke: var(--white);

}

.user-contact-submit{
  display: flex;

  padding: 10px 80px;
  color: white;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  border: 0;
  margin-top: 12px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  border-radius: 4px;
  background: var(--iris);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}




